<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - CloudVault</title>
</head>

<body>
    <h1>Criar Conta</h1>

    <form action="/cadastro" method="post">
       <input type="text" name="username" placeholder="Nome de usuário" required>
       <input type="email" name="email" placeholder="Email" required>
       <input type="password" name="password" placeholder="Senha" required>
       <button type="submit">Cadastrar</button>
    </form>

    <a href="login">Já tenho uma conta? Entrar</a>
</body>
</html>